<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= pageTitle %> </title>


    <!-- bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <!-- <link type="text/css" rel="stylesheet" href="/css/reset.css"> -->
    <link type="text/css" rel="stylesheet" href="/css/dailylog_u.css">

    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/scripts/logger-scripts.js"></script>

</head>

<body>

    <%- include('./includes/_nav.ejs') %>
    <main class="main-wrapper">


        <h1 class="display-3">
            Time Logger for <%= user.name %>.
        </h1>

        <h2>Date: <%= currentDate %></h2>

        <!-- <div class="body_wrapper"> -->

        <table id="daily-log" class="log-display table table-striped table-dark">
            <thead>
                <tr>

                    <th style="width: 150px">
                        Time
                    </th>

                    <th style="width: 250px">
                        Activity
                    </th>

                </tr>
            </thead>
            <tbody id="daily-log-body">
                <% for (let i = 0; i < data.length; i++) { %>
                <!-- <% console.log("dsfsdf", data[i].time) %> -->
                <tr>
                    <td><%= data[i].time %></td>
                    <td><%= data[i].activity %><button class="daily-log__remove-activity">X</button></td>

                </tr>
                <% } %>

            </tbody>
        </table>

        <div class="card" style="margin-top: 2rem">

            <h5 class="card-header bg-secondary white-text text-center py-4">
                <strong>Add New Entry</strong>
            </h5>

            <!--Card content-->
            <div class="card-body px-lg-4 pt-0" style="margin-top: 2rem">

                <!-- Form -->
                <div class="text-center" style="color: #757575;">




                    <div class="md-form mt-0">
                        <input type="text" name="logger-time" id="logger-time" placeholder="time" class="form-control">
                        <!-- <label for="materialRegisterFormEmail">Time</label> -->
                    </div>
                    <hr style="visibility: hidden;">

                    <div class="md-form">
                        <input type="text" type="text" name="logger-activity" id="logger-activity"
                            placeholder="activity" class="form-control">
                        <!-- <label for="materialRegisterFormPassword">Activity</label> -->
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <button id="add-entry"
                                class="btn btn-outline-primary btn-rounded btn-block my-4 waves-effect z-depth-0">Add</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                                id="save-log">Save</button>
                        </div>
                    </div>
                </div>
                <!-- Form -->

            </div>

        </div>
        <!-- Material form register -->



        <!-- </div> -->



    </main>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

</body>

</html>